.inner-content .ct, .inner-content .cy{
    border: 2px solid red;
    /* background-color: #f9b855; */
    color: red;
   
    
}
.inner-content .feescard{
    background-color: blue;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}

.inner-content .feescard:hover{
    background-color: rgb(95,86,86);
}
.inner-content .trpaymentscard{
    background-color: red;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}
.inner-content .trpaymentscard:hover{
    background-color: rgb(95,86,86);
}
.inner-content .sspaymentscard{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}
.inner-content .sspaymentscard:hover{
    background-color: rgb(95,86,86);
}
.inner-content .expensecard{
    background-color: #f9b855;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}
.inner-content .expensecard:hover{
    background-color: rgb(95,86,86);
}
.card .icon{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    margin-top: 10px;
    padding-left: 8px;
   
}
.card .circle-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}
.inner-content .current-term .btn-h, .current-year .btn-h{
    background-color: rgb(42, 42, 42);
    color: black;
    padding: 10px 20px;
}

.inner-content .current-term .btn-d, .current-year .btn-d{
    background-color: gold;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 700;
}
/* responsivenes */
/* small screens */

@media (max-width: 770px){
    .inner-content .current-term{
        margin-left: 10px;
    }
    .inner-content .current-year{
        margin-top: 40px;
        margin-left: 10px;
    }
    .inner-content .feescard, .inner-content .sspaymentscard, .inner-content .expensecard, .inner-content .trpaymentscard {
        margin-left: 10px;
        margin-right: 15px;
    }
    .donut-chart{
        margin-top: 30px;
    }
    .table-section{
        overflow-x: scroll;
    }
}

/* small screens */

/* styles.css */
body {
    
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
}

.payment-table {
    
    margin-top: 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
    border: 2px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 20px;
    text-align: left;
}

.print{
    background-color: blue;
    color: white;
}
.export{
   background-color: #f9b855;; 
   color: white;
}

/* Style form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs */
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Style submit button */
.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
