.inner-content .ct, .inner-content .cy{
    border: 2px solid red;
    /* background-color: #f9b855; */
    color: red;
   
    
}
.inner-content .feescard{
    background-color: blue;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}

.inner-content .feescard:hover{
    background-color: rgb(95,86,86);
}
.inner-content .trpaymentscard{
    background-color: red;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}
.inner-content .trpaymentscard:hover{
    background-color: rgb(95,86,86);
}
.inner-content .sspaymentscard{
    background-color: green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}
.inner-content .sspaymentscard:hover{
    background-color: rgb(95,86,86);
}
.inner-content .expensecard{
    background-color: #f9b855;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(64, 43, 43);
}
.inner-content .expensecard:hover{
    background-color: rgb(95,86,86);
}
.card .icon{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    margin-top: 10px;
    padding-left: 8px;
   
}
.card .circle-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.top_cards{
    display: grid;
    width: 104%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top_cards div {
    width: 100%;
    margin-right: 15px;
    
}

.top_cards div a{
    font-size: 13px;
}

.top_cards .btn-l{
    width: 58%;
}

.top_cards .btn-r{
    width: 42%;
}

.link_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.link_cards .card{
    margin: 5px 10px;
}

.card-section{
    display: flex;
}


@media (max-width: 770px){

    .main{
        width: 100%;
        overflow: hidden;
    }
    .inner-content{
        padding: 10px;
    }
    .donut-chart{
        margin-top: 30px;
    }
    .table-section{
        overflow-x: scroll;
    }

    .top_cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .top_cards div{
        margin: 0 0 10px 0;
        width: 100%;
    }
    .link_cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .link_cards .card{
        height: 15vh;
    }

    .link_cards .card .circle-icon{
        width: 33px;
        height: 33px;
        padding: 3px;
    }

    .link_cards .col-8{
        margin-top: 12px;
    }

    .link_cards .col-8 p{
        font-size: 15px;
    }

    .card-section{
        display: block;
    }

}

/* small screens */

/* styles.css */
body {
    
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
}

.payment-table {
    
    margin-top: 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
    border: 2px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 20px;
    text-align: left;
}

.print{
    background-color: blue;
    color: white;
}
.export{
   background-color: #f9b855;; 
   color: white;
}

/* Style form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs */
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Style submit button */
.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
