.std_cards{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.std_cards .card
{
    color: #000;
    padding: 20px;
    margin: 10px;
    height: 100px;

}

.std_cards .card .cbody{
    height: 50px;

}

.std_cards .card .icon{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2rem;
}

.std_cards .results_card {
    border-left: 15px solid red;
}

.std_cards .fees_card {
    border-left: 15px solid #d79430;
}

.std_cards .card:hover{
    background-color: rgba(15, 3, 58, 0.377);
    color: #fff;
}

.std_image .image img
{
    width: 100%;
}

.table-section{
    margin-left: -20px;
}

@media (max-width: 770px){
    .std_cards .card h5{
        font-size: 13px;
        margin-top: 10px;
    }

    .std_cards .card .icon{
        font-size: 1.5rem;
        margin-left: -10px;
    }
    .std_image .image img{
        width: 50%;
        margin: 0 25% ;
        
    }
    .studentresults{
        margin-left: 10%;
    }

    .table-section{
        width: 109%;
    }

    .payments{
        margin: 0;
        width: 100%;
    }
    .student-details .image img{
        width: 50%;
        height: 50%;
        margin: 0 25% ;   
    }
    .edit-profile{
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .personal-info{
        width: 90%;
        margin-left: 25px;
    }
    .parent-info{
        width: 90%;
        margin-left: 25px;  
    }
}