*{
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    width: 100%;

}
.sidebar{
    background-color: #251a1b;
    height: 100vh;
    width: 15%;
}
.content{
    width: 85%;
}

.inner-content{
    padding: 10px;
    /* display: none; */
}
.header img{
    width: 50px;
    
}
.sidebar ul{
    list-style-type: none;
    padding-left: 10%;
}

.sidebar-links li a{
    color: #fff;
    text-decoration: none;
}

.sidebar-links li a:hover
{
    color: #d79430;
}

/* sidebar sub menu */
.sidebar-links .main-menu a, .sidebar-links .main-menu .chevron
{
    color: #fff;
    text-decoration: none;
}



.submenu li
{
    padding-left: 5%;
    line-height: 38px;

}
.submenu li a
{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    
}


/* sidebar sub menu */

.navbar
{
    color: black;
}

.brand
{
    margin-left: 20px;
}

.brand a
{
    margin-left: 10px;
}

.right
{
    align-items: center;
}
.footer{
    color: #000;
    height: 8%;
    margin-top: 20%;
    position: absolute;
    bottom: 0;
    width: 85%;

}