{% extends 'teacher/base.html' %}
{% block  title %} Dashboard {% endblock title %}
{% block  pagetitle %} Dashboard {% endblock pagetitle %}
{% load static %}
{% block  main %}
<div class="inner-content">
    <div class="row">
        <div class="col-md-8">
            <div class="welcome-message shadow">
                <h4 class="text-center "> Your Welcome our Dearest Teacher </h4>
                <!-- <p>{% now 'd-m-Y' %}</p>    -->
                
            </div>
            
            <div class="d-flex align-items-center  ml-2" style="margin: 20px 0">
                {% for data in term_data %}
                    <div class="current-term mr-3">
                        <a class=" btn-sm btn-primary text-white p-2">Current Term: </a>
                        <a  class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{data.current_term}} </a>
                    </div>
                    <div class="current-year"> 
                        <a class=" btn-sm btn-primary text-white p-2">Current Year: </a>
                        <a class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{data.current_year}} </a>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="header mt-3 ml-2">
                <h5> YOUR CLASSES:</h5>
            </div>
            <div class="row">
                {% for class in teacher.classes.all %}
                        {% if class.classteacher == teacher.teachernames %}
                        <div class="col-md-6 mb-3">
                            <a href="/teacher/his_class/{{class.classid}}/{{teacher.teacherid}}" style="text-decoration: none;">
                                <div class="card classcard bg-primary p-4">
                                    <div class="row">
                                        <div class="col-5 text-center pt-2" style="border-right: 2px solid #fff;">
                                            <i class="fas fa-chalkboard-teacher" style="font-size: 2rem;"></i>
                                        </div>
                                        <div class="col-7 ">
                                            <h5 class="text-center"> {{class.classname}}</h3> 
                                        </div>
                                    </div>
                                
                                </div>
                            </a>
                        </div>
                        {% else %}
                        <div class="col-md-6 mb-3">
                            <a href="/teacher/class_details/{{class.classid}}/{{teacher.teacherid}}" style="text-decoration: none;">
                                <div class="card classcard p-4">
                                    <div class="row">
                                        <div class="col-5 text-center pt-2" style="border-right: 2px solid #fff;">
                                            <i class="fas fa-chalkboard-teacher" style="font-size: 2rem;"></i>
                                        </div>
                                        <div class="col-7 ">
                                            <h5 class="text-center"> {{class.classname}}</h3> 
                                        </div>
                                    </div>
                                
                                </div>
                            </a>
                        </div>
                        
                    {% endif %}
                    
                    
                {% endfor %}
              
            </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class=" profile pt-4 pb-4 shadow bg-white">
                <div>
                    <h4>Teacher's Profile</h4>
                    <hr>
                </div>
                <div class="teacher-image ">
                    {% if teacher.profile_image %}
                    <div class="image">
                        <img class="img-thumbnail" src="{{ teacher.profile_image.url }}" style="height: 23vh;">
                    </div>
                    {% else %}
                    <div class="image">
                        <img src="{% static 'images/person.jpg' %}" alt="" class="img-thumbnail">
                    </div>
                    {% endif %}
                    
                </div>
                <div class="teacher-details">
                    <h4>{{teacher.teachernames}}</h4>
                    <p>{{teacher.email}}</p>
                    <!-- <p>@{{teacher.username}}</p> -->
                </div>
                <div>
                    <!-- <button class="btn btn-md btn-outline-warning">More Details</button> -->
                    <a href="/teacher/profile/{{teacher.teacherid}}" class="btn btn-outline-primary btn-md">More Details <i class="fas fa-arrow-circle-right    "></i></a>
                </div>
            </div>
            
        </div>

    </div>
    
</div> 
{% endblock main %} 
