{% extends 'teacher/base.html' %}
{% block  title %} Enrollment History {% endblock title %}
{% block  pagetitle %} Enrollment History {% endblock pagetitle %}
{% load static %}
{% block  main %}
<div class="inner-content">
    <div class="header d-flex">
        <div class="enroll_btns align-items-center mr-3">

            <div class="current-term">
                <a class=" btn-sm btn-primary text-white p-2">Current Term: </a>
                <a  class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{this_term.current_term}} </a>
            </div>
            <div class="current-year"> 
                <a class=" btn-sm btn-primary text-white p-2">Current Year: </a>
                <a class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{this_term.current_year}} </a>
            </div>
            <div class="current-year"> 
                <a class=" btn-sm btn-info text-white p-2">Class: </a>
                <a class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{class.classname}} </a>
            </div>
            <a href="/teacher/his_class/{{ class.classid }}/{{ teacher.teacherid }}" class="btn btn-sm btn-danger m-2">Class Information</a>
            <a href="/enroll_student/{{class.classid}}/{{teacher.teacherid}}" class="btn btn-sm btn-success p-1 m-1">Enroll Students</a>

        </div>
    </div>

    <!-- students table -->
    {% if messages %}
        <ul class="messages mt-3">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
        </ul>
    {% endif %}


    <div class="mt-3 m-2 ">
        <h5 class="text-uppercase"><b>Enrollment History</b></h5>

        {% for term_data in enrollment_data %}
            <div class="box mt-3 shadow" style="border: 0.5px solid #aaa7a7; border-radius: 10px 10px 0 0;">
                   
                <div class="box-header d-flex justify-content-between p-2" data-toggle="collapse" data-target="#enrollmentCollapse{{ term_data.term_name|slugify }}{{ term_data.term_year }}" style="border-radius: 10px 10px 0 0; background: rgb(238, 235, 235);">
                    <h6>{{ term_data.term_name }} - {{ term_data.term_year }}</h6>
                    <a class=""  aria-expanded="false" aria-controls="enrollmentCollapse">
                        <strong><i class="fas fa-chevron-down    "></i></strong>
                    </a>
                </div>
                
                <div class="collapse mt-3" id="enrollmentCollapse{{ term_data.term_name|slugify }}{{ term_data.term_year }}">
                    <div class="table-section" style="font-size: 13px;">
                        <table class="table" border="1">
                            <thead class="text-uppercase">
                                <tr>
                                    <th>Student Number</th>
                                    <th>Student Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for enrollment in term_data.enrollment_data %}
                                    <tr>
                                        <td>{{enrollment.stdnumber.stdnumber}}</td>
                                        <td>{{enrollment.stdnumber.childname}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- students table -->

</div> 
{% endblock main %} 
