{% extends 'finance/base.html' %}
{% block  title %} Add Fees {% endblock title %}
{% block  pagetitle %} Add Fees  {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/financefeeslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Fees</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>
               
    <!-- form-section -->
    <form action="" class="form ml-3 p-3 shadow rounded bg-light">
        <div class="title">
            <h5 class="text-uppercase text-center">Register Fees</h5>
            <hr>
        </div>

        <!-- fees info section -->
        <div class="fees-info">
            <div class="row">
                <!-- paymentid -->
                <div class="form-group col-md-6">
                    <label for="">Payment ID: </label>
                    <input type="text" name="paymentid" class="form-control">
                </div>
                <!-- studentno -->
                <div class="form-group col-md-6">
                    <label for=""> Student Number </label>
                    <input type="text" name="stdnumber" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- stdname -->
                <div class="form-group col-md-6">
                    <label for="">Student Name </label>
                    <input type="text" name="stdname" class="form-control">
                </div>
                <!-- student class -->
                <div class="form-group col-md-6">
                    <label for=""> Student Class </label>
                    <input type="text" name="studentclass" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- amount -->
                <div class="form-group col-md-6">
                    <label for="">Amount </label>
                    <input type="text" name="amount" class="form-control">
                </div>
                <!-- Balance -->
                <div class="form-group col-md-6">
                    <label for=""> Balance </label>
                    <input type="text" name="balance" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- modeofpayment -->
                <div class="form-group col-md-6">
                    <label for="">Mode of Payment </label>
                    <input type="text" name="modeofpayment" class="form-control">
                </div>
                <!-- date -->
                <div class="form-group col-md-6">
                    <label for=""> Date </label>
                    <input type="date" name="date" class="form-control">
                </div>
            </div>
            
            

            
        </div>

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}