{% extends 'finance/base.html' %}
{% block  title %} Add Fees {% endblock title %}
{% block  pagetitle %} Add Fees  {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/financefeeslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Fees</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>
               
    <!-- form-section -->
    <form action="" method="post" class="form ml-3 p-3 shadow rounded bg-light">
        {% csrf_token %}
        <div class="title">
            <h5 class="text-uppercase text-center">Register Fees</h5>
            <hr>
        </div>

        <!-- fees info section -->
        <div class="fees-info">
            <div class="row">
                <!-- paymentid -->
                <!-- <div class="form-group col-md-6">
                    <label for="">Payment ID: </label>
                    <input type="text" name="paymentid" class="form-control">
                </div> -->
                <!-- studentno -->
                <!-- student select -->
                <div class="form-group col-md-6">
                    <label for="stdnumber">Select Student:</label>
                    <select name="stdnumber" id="stdnumber" class="form-control">
                        <option value="" selected disabled>Select Student</option>
                        {% for student in students %}
                            <option value="{{ student.stdnumber }}" data-name="{{ student.childname }}">{{ student.childname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="studentclass">Student Class:</label>
                    <input type="text" id="studentclass" name="studentclass" class="form-control" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="studentclass">Class Fees:</label>
                    <input type="text" id="classfees" name="classfees" class="form-control" readonly>
                </div>

            </div>

            <div class="row">
                <!-- amount -->
                <div class="form-group col-md-6">
                    <label for="">Amount </label>
                    <input type="text" name="amount" class="form-control">
                </div>
                <!-- Balance -->
                <div class="form-group col-md-6">
                    <label for=""> Balance </label>
                    <input type="text" name="balance" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- modeofpayment -->
                <div class="form-group col-md-6">
                    <label for="">Mode of Payment </label>
                    <input type="text" name="modeofpayment" class="form-control">
                </div>
                <!-- date -->
                <div class="form-group col-md-6">
                    <label for=""> Date </label>
                    <input type="date" name="date" class="form-control">
                </div>
            </div>
            
            

            
        </div>

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}