{% extends 'finance/base.html' %}
{% block  title %} Teacher Payments List {% endblock title %}
{% block  pagetitle %} Teacher Payments List {% endblock pagetitle %}

{% block  main %}

<!-- inner-content -->
<div class="inner-content">
    <div class="btns">
        <a href="/financeaddteacherpayments" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Teacher Payments</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;">
    <div class="table-section" style="font-size: 14px;"> 
        <table class="table" id="table" border="1">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        </ul>
        {% endif %}

        <table class="table" id="table">
        <table class="table" id="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Teacher ID</th>
                    <th>Teacher Name</th>
                    <th> Payment Date</th>
                    <th>Salary</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                    <th>Payment Method</th>
                    <th>Bank Account No.</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <th> {{ teacher.id }} </th>
                    <th> {{ teacher.teacherid }} </th>
                    <th> {{ teacher.teachername }} </th>
                    <th> {{ teacher.paymentdate }} </th>
                    <th> {{ teacher.salary }} </th>
                    <th> {{ teacher.amountpaid }} </th>
                    <th> {{ teacher.balance }} </th>
                    <th> {{ teacher.paymentmethod }} </th>
                    <th> {{ teacher.bankaccnum }} </th>

                   <td>
                    <div>
                        <a href="editteacherpayment/{{ teacher.id }}" class="text-primary"><i class="fas fa-edit  mr-2  "> </i></a>
                        <a href="deleteteacherpayment/{{ teacher.id }}" class="text-danger"><i class="fa fa-trash    "> </i></a>
                    </div> </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_user">

    </div>
</div>
<!-- inner-content -->
{% endblock main %}