{% extends 'finance/base.html' %}
{% block  title %} Add Teacherpayment {% endblock title %}
{% block  pagetitle %} Add Teacherpayment  {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/financeteacherpaymentslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Teacherpayments</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>
               
    <!-- form-section -->
    <form action="" class="form ml-3 p-3 shadow rounded bg-light">
        <div class="title">
            <h5 class="text-uppercase text-center">Register Teacherpayments</h5>
            <hr>
        </div>

        <!-- staffpayments info section -->
        <div class="staffpayments">
            <div class="row">
                <!-- teacherid -->
                <div class="form-group col-md-6">
                    <label for="">Teacher ID: </label>
                    <input type="text" name="teacherid" class="form-control">
                </div>
                <!-- staffname-->
                <div class="form-group col-md-6">
                    <label for=""> Teacher Name </label>
                    <input type="text" name="teachername" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- datepaid -->
                <div class="form-group col-md-6">
                    <label for="">Payment Date </label>
                    <input type="date" name="datepaid" class="form-control">
                </div>
                <!-- salary-->
                <div class="form-group col-md-6">
                    <label for=""> Salary </label>
                    <input type="text" name="salary" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- amountpaid -->
                <div class="form-group col-md-6">
                    <label for="">Amount Paid</label>
                    <input type="text" name="amount" class="form-control">
                </div>
                <!-- Balance -->
                <div class="form-group col-md-6">
                    <label for=""> Balance </label>
                    <input type="text" name="balance" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- position -->
                <div class="form-group col-md-6">
                    <label for="">Payment Method</label>
                    <input type="text" name="paymentmethod" class="form-control">
                </div>
                <!-- bankaccnum -->
                <div class="form-group col-md-6">
                    <label for=""> Bank Account No.</label>
                    <input type="text" name="bankaccnum" class="form-control">
                </div>
            </div>


            
        </div>

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}