{% extends 'finance/base.html' %}
{% block  title %} Add Supportstaffpayment {% endblock title %}
{% block  pagetitle %} Add Supportstaffpayment  {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/financesupportstaffpaymentslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Support Staffpayments</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>
               
    <!-- form-section -->
    <form action="" method='POST' class="form ml-3 p-3 shadow rounded bg-light">
        {% csrf_token %}

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
        </ul>
        {% endif %}


        <div class="title">
            <h5 class="text-uppercase text-center">Register Supportstaffpayments</h5>
            <hr>
        </div>

        <!-- staffpayments info section -->
        <div class="staffpayments">
            <div class="row">
                <!-- teacherid -->
                <div class="form-group col-md-6">
                    <label for="">Support Staff ID: </label>
                    <select name="support-staffid" class="form-control">
                        {% for id in ids %}
                        <option>{{ id.supportstaffid }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- staffname-->
                <div class="form-group col-md-6">
                    <label for=""> Support Staff Name </label>
                    <input type="text" name="support-staffname" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- datepaid -->
                <div class="form-group col-md-6">
                    <label for="">Payment Date </label>
                    <input type="date" name="datepaid" class="form-control">
                </div>
                <!-- salary-->
                <div class="form-group col-md-6">
                    <label for=""> Salary </label>
                    <input type="text" name="salary" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- amountpaid -->
                <div class="form-group col-md-6">
                    <label for="">Amount Paid</label>
                    <input type="text" name="amount" class="form-control">
                </div>
                <!-- Balance -->
                <div class="form-group col-md-6">
                    <label for=""> Balance </label>
                    <input type="text" name="balance" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- position -->
                <div class="form-group col-md-6">
                    <label for="">Payment Method</label>
                    <input type="text" name="paymentmethod" class="form-control">
                </div>
                <!-- bankaccnum -->
                <div class="form-group col-md-6">
                    <label for=""> Bank Account No.</label>
                    <input type="text" name="bankaccnum" class="form-control">
                </div>
            </div>


            
        </div>

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}