{% extends 'frontend/base.html' %}
{% block  title %} Subject List {% endblock title %}
{% block  pagetitle %} Subject List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns float-right">
        <a href="/addsubject" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Subject</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }}</strong> 
              </div>
              
              <script>
                $(".alert").alert();
              </script>
            {% endfor %}
        </ul>
        {% endif %}

        
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Subject Head</th>
                    <th>Class Level</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                    {% for subj in subjects %}
                    <tr>
                    <td>{{ subj.subjectid }}</td>
                    <td>{{ subj.subjectname }}</td>
                    <td>{{ subj.subjecthead }}</td>
                    <td>{{ subj.classlevel }}</td>
                    <td>
                        <div>
                            <a href="" class="text-primary"> Edit<i class="fas fa-edit  mr-5  "> </i></a>
                            <a href="delete_subject/{{subj.subjectid}}" class="text-danger">Delete<i class="fa fa-trash    "> </i></a>
                        </div>
                    </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_user">
        
    </div>
</div>
<!-- inner-content -->
{% endblock main %}