{% extends 'frontend/base.html' %}
{% block  title %} Support Staff Payments List {% endblock title %}
{% block  pagetitle %} Support Staff Payments List {% endblock pagetitle %}

{% block  main %}

<!-- inner-content -->
<div class="inner-content">
    <div class="btns">
        <a href="/export_support_staffpayments" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        </ul>
        {% endif %}

        
        <table class="table" id="table" border="1">
            <thead>
                <tr>
                    <th>Support Staff ID</th>
                    <th>Support Staff Name</th>
                    <th> Payment Date</th>
                    <th>Salary</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for supportstaff in supportstaffdata %}
                <tr>
                    <td>{{ supportstaff.supportstaffid }}</td>
                    <td>{{ supportstaff.staffname }}</td>
                    <td>{{ supportstaff.paymentdate }}</td>
                    <td>{{ supportstaff.salary }}</td>
                    <td>{{ supportstaff.amountpaid }}</td>
                    <td>{{ supportstaff.balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_user">
    </div>
</div>
<!-- inner-content -->
{% endblock main %}