{% extends 'frontend/base.html' %}
{% block  title %} Support Staff List {% endblock title %}
{% block  pagetitle %} Support Staff List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns">
        <a href="/add-support-staff" class="btn btn-sm add-btn text-white mb-2 ml-3">Add support staff</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Staff number</th>
                    <th>Fullname</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Qualifications</th>
                    <th>Position</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in support_staff %}
                <tr>
                    <td>{{ staff.id }}</td>
                    <td>{{ staff.fullname }}</td>
                    <td>{{ staff.contact }}</td>
                    <td>{{ staff.email }}</td>
                    <td>{{ staff.address }}</td>
                    <td>{{ staff.gender }}</td>
                    <td>{{ staff.dob }}</td>
                    <td>{{ staff.qualification }}</td>
                    <td>{{ staff.position }}</td>
                    <td>
                        <a href="" id={{ staff.id }} class="btn btn-sm btn-primary more_support_staff">More ...</a>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_support_staff">
        
    </div>
</div>


<!-- inner-content -->
{% endblock main %}