{% extends 'frontend/base.html' %}
{% block  title %} Students Add {% endblock title %}
{% block  pagetitle %} Students Add {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/support-staff-list" class="btn btn-sm add-btn text-white mb-2 ml-3">View Support staff</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>

    <!-- form-section -->
    <form method='POST', action="submit/" class="form ml-3 p-3 shadow rounded bg-light">
        {%csrf_token %}
        <div class="title">
            <h5 class="text-uppercase text-center">Add Support Staff</h5>
            <hr>
        </div>
        <!-- Success message after data has been sent  -->
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{ message }}</strong> 
        </div>

        <script>
          $(".alert").alert();
        </script>      
    
        {% endfor %}
        </ul>
        {% endif %}

        <!-- student info section -->
        <div class="stud-info">
            <!-- <div class="sub-heading">
                <h5>Support Staff Information</h5>
            </div> -->
            <div class="row">
                <!-- name -->
                <div class="form-group col-md-6">
                    <label for="">Fullname: </label>
                    <input type="text" name="fullname" class="form-control">
                </div>
                <!-- staff contact -->
                <div class="form-group col-md-6">
                    <label for="">Phone contact: </label>
                    <input type="text" name="contact" class="form-control" pattern="0\d{9}" max_length="10" title="Please enter a 10-digit phone number starting with 0" required>
                </div>
            </div>
            <div class="row">
                <!-- email -->
                <div class="form-group col-md-6">
                    <label for="">Email: </label>
                    <input type="email" name="email" class="form-control">
                </div>
                <!-- Address -->
                <div class="form-group col-md-6">
                    <label for="">Address: </label>
                    <input type="text" name="address" class="form-control">
                </div>
            </div>
            <div class="row">
                <!-- gender -->
                <div class="form-group col-md-6">
                    <label for="">Gender: </label>
                    <select name="gender" id="" class="form-control pr-2">
                        <option value="">---</option>
                        <option value="m">Male</option>
                        <option value="f ">Female</option>
                    </select>
                </div>
                <!-- date of birth -->
                <div class="form-group col-md-6">
                    <label for="">Date Of Birth </label>
                    <input type="date" name="dob" class="form-control">
                </div>

            </div>
            <div class="row">
                <!-- qualification -->
                <div class="form-group col-md-6">
                    <label for="">Qualificatiions: </label>
                    <input type="text" name="qualification" id="" class="form-control pr-2">
                </div>
                <!-- position -->
                <div class="form-group col-md-6">
                    <label for="">Position </label>
                    <input type="text" name="position" class="form-control">
                </div>

            </div>
        </div>
        
        <!-- student info section -->

        

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}