{% extends 'frontend/base.html' %}
{% block  title %} Teahers List {% endblock title %}
{% block  pagetitle %} Teachers List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns">
        <a href="/addteacher" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Teacher</a>
        <button onclick ="confirmDownload()" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</button>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Teacher ID</th>
                    <th>Teacher Name</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Email Address</th>
                    <th>Classes Taught</th>
                    <th>Joining Date</th>
                    <th>Position</th>
                    <th>Subject</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RS001</td>
                    <td>Mukisa Junior</td>
                    <td>Male</td>
                    <td>17/08/2013</td>
                    <td>Nansana</td>
                    <td>P.4</td>
                    <td>Orange</td>
                    <td>Mukisa Henry</td>
                    <td>Kwagala Suzan</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a href="/deleteteacher/{{teacher.teacherid}}" class="dropdown-item">MORE</a>
                                <a href="/deleteteacher/{{teacher.teacherid}}" class="dropdown-item btn btn-sm btn-primary text-danger">DELETE</a>
                                <a href="/editteacher/{{teacher.teacherid}}" class="dropdown-item btn btn-sm btn-primary text-primary">EDIT</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_teacher">
        
    </div>
</div>
<script>
    function confirmDownload(){
        if(confirm("Are you sure you want to export the data to an Excel file?")){
            window.location.href = "{% url 'teacher_export_excel' %}"
        }
    }
</script>
<!-- inner-content -->
{% endblock main %}