{% load static %}
<div class="student-details mt-3">
    <div class="row">
        <div class="col-md-5">
            <!-- image -->
            <div class="image">
               <img class="img-thumbnail" src="{% static 'images/student.jpg' %}" alt=""> 
            </div>
            <!-- image -->
        </div>
        <div class="col-md-7">
            <!-- student data -->
            <div class=" row student-data">
                <table class="table col-md-6">
                    <tbody class="p-3 mr-3">
                        <tr>
                            <td><h6><b>Full Name: </b></h6></td>
                            <td><p>Mukisa Junior</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Student Number: </b></h6></td>
                            <td><p>RS001</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Gender: </b></h6></td>
                            <td><p>Male</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Date of Birth: </b></h6></td>
                            <td><p>17/08/2013</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Address: </b></h6></td>
                            <td><p>Nansana</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Class: </b></h6></td>
                            <td><p>P.4</p></td>
                        </tr>
                        
                    </tbody>
                </table>
                <table class="table col-md-6">
                    <tbody>
                        <tr>
                            <td><h6><b>Father: </b></h6></td>
                            <td><p>Mukisa Henry</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Father's Contact: </b></h6></td>
                            <td><p>0756529218</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Father's Occupation: </b></h6></td>
                            <td><p>Business Man</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Mother: </b></h6></td>
                            <td><p>Kwagala Suzan</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Mother's Contact: </b></h6></td>
                            <td><p>0776481096</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Mother's Occupation: </b></h6></td>
                            <td><p>Nurse</p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Guardian: </b></h6></td>
                            <td><p></p></td>
                        </tr>
                        <tr>
                            <td><h6><b>Guardian Contact: </b></h6></td>
                            <td><p></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- student data -->
        </div>
    </div>
</div>