{% extends 'frontend/base.html' %}
{% block  title %} Students Add {% endblock title %}
{% block  pagetitle %} Students Add {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/studentslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Students</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>

    <!-- form-section -->

    <form action="submit/" method="POST" class="form ml-3 p-3 shadow rounded bg-light">
        {% csrf_token %}

        <div class="title">
            <h5 class="text-uppercase text-center">Register Student</h5>
            <hr>
        </div>
        <!-- Success message after data has been sent  -->
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
        </ul>
        {% endif %}


        <!-- student info section -->
        <div class="stud-info">
            <div class="sub-heading">
                <h5>Student Information</h5>
            </div>
            <div class="row">
                <!-- regno -->
                <div class="form-group col-md-6">
                    <label for="">Registration Number: <span class="text-danger">*</span></label>
                    <input type="text" name="stdnumber" class="form-control" required>

                </div>
                <!-- name -->
                <div class="form-group col-md-6">
                    <label for="">Child Fullname: <span class="text-danger">*</span></label>
                    <input type="text" name="childname" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <!-- class -->
                <div class="form-group col-md-4">
                    <label for="">Gender: <span class="text-danger">*</span></label>
                    <select name="gender" id="" class="form-control pr-2" required>
                        <option value="">---</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                <!-- name -->
                <div class="form-group col-md-4">
                    <label for="">Date Of Birth <span class="text-danger">*</span></label>
                    <input type="date" name="dob" class="form-control" required>
                </div>

                <!-- address -->
                <div class="form-group col-md-4">
                    <label for="">Place of Residence <span class="text-danger">*</span></label>
                    <input type="text" name="address" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <!-- class -->
                <div class="form-group col-md-4">
                    <label for="">Attached Class: <span class="text-danger">*</span></label>
                    <select name="studentclass" id="" class="form-control pr-2" required>
                        <option value="">---</option>
                        <option value="">Baby</option>
                        <option value="">Middle</option>
                        <option value="">Top</option>
                        <option value="">P.1</option>
                        <option value="">P.2</option>
                        <option value="">P.3</option>
                        <option value="">P.4</option>
                        <option value="">P.5</option>
                        <option value="">P.6</option>
                        <option value="">P.7</option>
                    </select>
                </div>
                <!-- house -->
                <div class="form-group col-md-4">
                    <label for="">Attached House <span class="text-danger">*</span></label>
                    <input type="text" name="house" class="form-control" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Registration Date <span class="text-danger">*</span></label>
                    <input type="date" name="regdate" class="form-control" required>
                </div>

            </div>
        </div>
        
        <!-- student info section -->

        <div class="parent-info">
            <div class="sub-heading">
                <h5>Parents Information</h5>
            </div>
            <div class="row">
                <!-- father name -->
                <div class="form-group col-md-4">
                    <label for="">Father's Name: </label>
                    <input type="text" name="fathername" class="form-control">
                </div>
                <!-- father contact -->
                <div class="form-group col-md-4">
                    <label for="">Father's Phone Number: </label>
                    <input type="text" name="fcontact" class="form-control">
                </div>
                <!-- father occupation -->
                <div class="form-group col-md-4">
                    <label for="">Father's Occupation: </label>
                    <input type="text" name="foccupation" class="form-control">
                </div>
            </div>
            <div class="row">
                <!-- mother name -->
                <div class="form-group col-md-4">
                    <label for="">Mother's Name: </label>
                    <input type="text" name="mothername" class="form-control">
                </div>
                <!-- mother contact -->
                <div class="form-group col-md-4">
                    <label for="">Mother's Phone Number: </label>
                    <input type="text" name="mcontact" class="form-control">
                </div>
                <!-- mother occupation -->
                <div class="form-group col-md-4">
                    <label for="">Mother's Occupation: </label>
                    <input type="text" name="moccupation" class="form-control">
                </div>
            </div>
            <div class="row">
                <!-- mother name -->
                <div class="form-group col-md-4">
                    <label for="">Living with </label>
                    <select  name="livingwith" class="form-control livingwith" required>
                        <option value="">---</option>
                        <option value="Father only">Father only</option>
                        <option value="Mother only">Mother only</option>
                        <option value="Both Parents">Both parents</option>
                        <option value="Guardian">Guardian</option>
                        <div class="form-group col-md-4">
                    </select>
                </div>
                <!-- guardian details -->

                
                <div class="col-md-8 guardian">
                    <div class="row">
                        <div class="form-group col-md-6 ">
                            <label for="">Guardian's Name: </label>
                            <input type="text" name="guardianname" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Guardian's Contact: </label>
                            <input type="text" name="gcontact" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- button -->
        <div class="form-group">
            <button style="width: 100px;" type="submit" class="btn btn-sm bg-dark text-white">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}