{% extends 'frontend/base.html' %}
{% block  title %} Students List {% endblock title %}
{% block  pagetitle %} Students List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns float-right">
        <a href="/addstudent" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Student</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Student number</th>
                    <th>Child Fullname</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    {% comment %} <th>Class</th> {% endcomment %}
                    <th>Registration Date </th>
                    {% comment %} <th>House</th> {% endcomment %}
                    <th>Father</th>
                    <th>Mother</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.stdnumber }}</td>
                    <td>{{ student.childname }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.dob }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.class }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.dob }}</td>
                    {% comment %} <td>{{ staff. }}</td> {% endcomment %}
                    <td>{{ student.fathername }}</td>
                    <td>{{ student.mothername }}</td>
                        <a href="" id={{ student.stdnumber }} class="btn btn-sm btn-primary more">More ...</a>
                        
                    </td>
                </tr>
                {% comment %} <tr>
                    <td>RS001</td>
                    <td>Mukisa Junior</td>
                    <td>Male</td>
                    <td>17/08/2013</td>
                    <td>Nansana</td>
                    <td>P.4</td>
                    <td>Orange</td>
                    <td>Mukisa Henry</td>
                    <td>Kwagala Suzan</td>
                    <td>
                        <a href="" id="RS001" class="btn btn-sm btn-primary more">More ...</a>
                    </td>
                </tr> {% endcomment %}
                {% comment %} <tr>
                    <td>RS002</td>
                    <td>Mukisa Junior</td>
                    <td>Male</td>
                    <td>17/08/2013</td>
                    <td>Nansana</td>
                    <td>P.4</td>
                    <td>Orange</td>
                    <td>Mukisa Henry</td>
                    <td>Kwagala Suzan</td>
                    <td>
                        <a href="" id="RS001" class="btn btn-sm btn-primary more">More ...</a>
                    </td>
                </tr> {% endcomment %}
                {% comment %} <tr>
                    <td>RS003</td>
                    <td>Mukisa Junior</td>
                    <td>Male</td>
                    <td>17/08/2013</td>
                    <td>Nansana</td>
                    <td>P.4</td>
                    <td>Orange</td>
                    <td>Mukisa Henry</td>
                    <td>Kwagala Suzan</td>
                    <td>
                        <a href="" id="RS001" class="btn btn-sm btn-primary more">More ...</a>
                    </td>
                </tr> {% endcomment %}
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_student">
        
    </div>
</div>


<!-- inner-content -->
{% endblock main %}