{% extends 'frontend/base.html' %}
{% block  title %} Students List {% endblock title %}
{% block  pagetitle %} Students List {% endblock pagetitle %}
{% load static %}
{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="list-header">
        <div class="btns">
            <a href="/addstudent" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Student</a>
            <a href="/export-excel" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
        </div>
        <div class="btns mb-3 ml-4">
            <a href="/studentslist/" class="btn btn-sm btn-primary">View All</a>
            {% for class in classes %}
                <a href="/student-by-class/{{class.classid }}" class="btn btn-sm btn-danger">{{class.classname}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        {% if messages %}
            <ul class="messages">
                <script>
                    $(".alert").alert();
                </script>
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <strong >{{ message }}</strong> 
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>Student number</th>
                    <th>Profile Image</th>
                    <th>Child Fullname</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <!-- <th>Address</th> -->
                    <th>Registration Date </th>
                    <!-- <th>House</th> -->
                    <!-- <th>Username</th> -->
                    <th>Class</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.stdnumber }}</td>
                    <td>
                        {% if student.profile_image %}
                            <img class="img-thumbnail" src="{{ student.profile_image.url }}" width="45" style="height: 45px;">
                        {% else %}
                            <img src="{% static 'images/person.jpg' %}" alt="" class="img-thumbnail" width="45" style="height: 45px;">
                        {% endif %}
                    </td>
                    <td>{{ student.childname }}</td>
                    <td>
                        {% if student.gender == 'm' %}
                            Male
                        {% else %}
                            Female
                        {% endif %}
                    </td>
                    <td>{{ student.dob }}</td>
                    <!-- <td>{{ student.address }}</td> -->
                    <td>{{ student.regdate }}</td>
                    <!-- <td>{{ student.house }}</td> -->
                    <!-- <td>{{ student.username }}</td> -->
                    <td>{{ student.stdclass.classname }}</td>
                     <td>   
                        <a href="/showstudent/{{student.stdnumber}}" class="btn btn-sm btn-primary ">More ...</a> 
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_student">
        
    </div>
</div>


<!-- inner-content -->
{% endblock main %}