    {% extends 'teacher/base.html' %}
    {% block title %} View Class {% endblock title %}
    {% load static %}
    {% load custom_filters %}

    {% block main %}
    <div class="inner-content">
        <div class="header d-flex" style="margin-bottom: 10px;">
            <div class="class-btns" pr-5>
                <a href="/teacher/his_class/{{ schoolclass.classid }}/{{ teacher.teacherid }}" class="btn btn-sm btn-danger">Class Information</a>
                <a href="/teacher/his_class/view_marks/{{ schoolclass.classid }}/{{ teacher.teacherid }}" class="btn btn-sm btn-danger">View Exam Results</a>
                <a href="/teacher/his_class/addmarks/{{ schoolclass.classid }}/{{ teacher.teacherid }}" class="btn btn-sm btn-danger">Add Marks</a>
            </div>
        </div>
        {% for mark_type in mark_types %}
            <a href="/teacher/his_class/view_mark/{{ schoolclass.classid }}/{{ teacher.teacherid }}?marktype={{ mark_type.0 }}"
            class="btn btn-sm btn-warning mb-2 {% if mark_type.0 == mark_type %}active{% endif %}">
                {{ mark_type.1 }} Results
            </a>
        {% endfor %}
        <div class="header">
            <h5 class="mb-2"><b>{{mark_type}} Examination results</b></h5>
        </div>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }}</strong> 
                </div>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="table-section" style="font-size: 14px;">
            <table class="table bg-white" id="table" border="1">
                <thead class=" text-white">
                    <tr>
                        <th>Reg Number</th>
                        <th>Name</th>
                        {% for subject in subjects %}
                            <th>{{ subject.subjectname|slice:":3" }}</th>
                        {% endfor %}
                        <th>Total</th>
                        <th>Average</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student, marks_dict in student_marks.items %}
                        <tr>
                            <td>{{ student.stdnumber }}</td>
                            <td>{{ student.childname }}</td>
                            {% for subject in subjects %}
                                <td>
                                    {% with marks=marks_dict|get_item:subject %}
                                        {% if marks %}
                                            {{ marks.marks_obtained }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            {% endfor %}
                            <td>{{ student.total_marks }}</td>
                            <td>{{ student.average_marks|floatformat:1 }}</td>
                            <td>
                                <a href="#edit_marks{{student.stdnumber}}" class="btn btn-sm text-primary edit-marks" data-toggle="modal"><i class="fas fa-edit    "></i></a>
                                <!-- <a href="" class="btn btn-sm text-danger delete marks"><i class="fas fa-trash    "></i></a> -->
                            </td>
                        </tr>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="edit_marks{{student.stdnumber}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Marks for {{ student.childname }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/teacher/edit_all_marks" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="student_id" value="{{ student.stdnumber }}">
                                            <input type="hidden" name="mark_type" value="{{ mark_type}}">
                                            <input type="hidden" name="teacherid" value="{{ teacher.teacherid}}">
                                            <div>
                                                    {% for subject in subjects %}
                                                        <div class="form-group">
                                                            <label>{{ subject.subjectname }}</label>
                                                            <!-- <td> -->
                                                                <input type="text" class="form-control" name="subject_{{ subject.subjectid }}" value="{% with marks=marks_dict|get_item:subject %}{{ marks.marks_obtained }}{% endwith %}">
                                                            <!-- </td> -->
                                                        </div>
                                                    {% endfor %}
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    {% endfor %}
                </tbody>
            </table>
            
            
    </div>
    {% endblock main %}
