{% extends 'teacher/base.html' %}
{% block title %} View Class {% endblock title %}
{% load static %}
{% load custom_filters %}

{% block main %}
<div class="inner-content">
    <div class="header justify-content-between" style="margin-bottom: 8px;">
        <div class="current_sessions align-items-center mr-3 ml-2">
            <div class="current-term mr-3">
                <a class=" btn-sm btn-primary text-white p-2">Current Term: </a>
                <a  class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{term_data.current_term}} </a>
            </div>
            <div class="current-year"> 
                <a class=" btn-sm btn-primary text-white p-2">Current Year: </a>
                <a class=" btn-sm btn-dark text-white p-2" style="margin-left: -5px;">{{term_data.current_year}} </a>
            </div>
        </div>
        <div class="class-btns">
            <a href="/teacher/his_class/{{ schoolclass.classid }}/{{ teacher.teacherid }}" class="btn btn-sm btn-danger">Class Information</a>
            <a href="/teacher/his_class/view_marks/{{ schoolclass.classid }}/{{ teacher.teacherid }}" class="btn btn-sm btn-danger">View Exam Results</a>
            <a href="/teacher/his_class/addmarks/{{ schoolclass.classid }}/{{ teacher.teacherid }}?marktype={{ mark_types.0.0 }}" class="btn btn-sm btn-danger">Add Marks</a>
        </div>
        
    </div>
    <div class="header justify-content-between">
        <div class="result-cards ">
            {% for mark_type in mark_types %}
                <a href="/teacher/his_class/view_mark/{{ schoolclass.classid }}/{{ teacher.teacherid }}?marktype={{ mark_type.0 }}"
                class="btn btn-sm btn-warning mb-2 {% if mark_type.0 == mark_type %}active{% endif %}">
                    {{ mark_type.0 }} Results
                </a>
            {% endfor %}
        </div>
        {% if term_data.current_term == "Term III" %}
            <div class="d-flex justify-content-between">
                <div class="promote">
                    <a href="#promote" data-toggle="modal" class="btn btn-sm btn-success">Set Promotion (AVG Marks)</a>
                </div>
                <div class="ml-2">
                    <h6>Promotion Marks: <span>{{ promotion_marks.promotion_mark }}</span></h5>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="promote" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Enter Promotion Marks</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/set_promotion_mark/{{ schoolclass.classid }}/{{ teacher.teacherid }}/" method="post">
                                    {% csrf_token %}
    
                                    <div class="form-group">
                                        <label for="">Promotion Mark: </label>
                                        <input type="text" name="promotion_mark" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="ml-3 mt-2">
        <h5 class="mb-2 text-uppercase"><b>{{mark_type}} Examination results</b></h5>
    </div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="table-section" style="font-size: 14px;">
        <table class="table bg-white" id="table" border="1">
            <thead class=" text-white">
                <tr>
                    <th>Reg Number</th>
                    <th>Name</th>
                    {% for subject in subjects %}
                        <th>{{ subject.subjectname|slice:":3" }}</th>
                    {% endfor %}
                    <th>Total</th>
                    <th>Average</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for student, subjects_data in subjects_marks_data.items %}
                    <tr>
                        <td>{{ student.stdnumber }}</td>
                        <td>{{ student.childname }}</td>
                        {% for subject_data in subjects_data %}
                            <td>{{ subject_data.average_marks|floatformat:0 }}</td>
                        {% endfor %}
                        <td><b>{{ student.total_average_marks|floatformat:0 }}</b></td>
                        <td><b>{{ student.final_average|floatformat:1 }}</b></td>
                        <td>{{student.rank}}</td>
                        <td>
                            <a href="/report_card/{{student.pk}}/{{student.rank}}" class="btn btn-success btn-sm generate-report"><i class="fas fa-print    mr-1"></i>Print    </a>
                        </td>
                    </tr>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
       

        $("#print-report").click(function() {
            var content = document.getElementById("printable-content").innerHTML;
            var printWindow = window.open("", "_blank");
            printWindow.document.open();
            printWindow.document.write(
                '<html><head><title>Marks Report</title></head><body>' + content + '</body></html>'
                );
            printWindow.document.close();
            printWindow.print();
        });
    });
</script>
{% endblock main %}
