{% extends 'frontend/base.html' %}
{% block  title %} Class List {% endblock title %}
{% block  pagetitle %} Class List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns float-right">
        <a href="/addclass" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Class</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Class Teacher</th>
                    <th>Number of Pupils</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>

                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                <tr>
                    <td>C001</td>
                    <td>Primary One</td>
                    <td>Junior Mukisa</td>
                    <td>56</td>
                   <td> </td>
    
                </tr>
                
                
                
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_user">
        
    </div>
</div>
<!-- inner-content -->
{% endblock main %}