{% extends 'payments/base.html' %}
{% load static %}

{% block  title %} Administrator Profile {% endblock title %}
{% block  pagetitle %} Administrator Profile {% endblock pagetitle %}

{% block  main %} 

 <inner-content -->
<div class="inner-content">
    
<h2>ADMINISTRATOR PERSONAL INFORMATION</h2>
{% if messages %}
    <ul class="messages">
         <script>
             $(".alert").alert();
         </script>
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong >{{ message }}</strong> 
        </div>
        {% endfor %}
    </ul>
 {% endif %}
<div class="d-flex ml-5 mt-3">
    <div class="d-flex mr-5">
        <h6 class="mr-3"><b>Full Name: </b></h6>
        <p>{{ administrator.fullname }}  </p>
    </div>
    <div class="d-flex ">
        <h6 class="mr-3"><b>Contact: </b></h6>
        <p>{{ administrator.contact }}  </p>
    </div>
</div>
<div class="d-flex ml-5 mt-3">
    <div class="d-flex mr-5">
        <h6 class="mr-3"><b>Email: </b></h6>
        <p>{{ administrator.email }}  </p>
    </div>
    <div class="d-flex ">
        <h6 class="mr-3"><b>Address: </b></h6>
        <p>{{ administrator.address }}  </p>
    </div>
</div>
<div class="d-flex ml-5 mt-3">
    <div class="d-flex mr-5">
        <h6 class="mr-3"><b>Gender: </b></h6>
        <p>{{ administrator.gender }}  </p>
    </div>
    <div class="d-flex ">
        <h6 class="mr-3"><b>Qualification: </b></h6>
        <p>{{ administrator.qualification }}  </p>
    </div>
</div>
<div class="d-flex ml-5 mt-3">
    <div class="d-flex mr-5">
        <h6 class="mr-3"><b>Username: </b></h6>
        <p>{{ administrator.username }}  </p>
    </div>
    <div class="d-flex ">
        <h6 class="mr-3"><b>Role: </b></h6>
        <p>{{ administrator.role }}  </p>
    </div>
</div>

<button class="btn btn-warning btn-md edit-profile" data-toggle="modal" data-target="#editProfileModal">
    <b>Edit Profile</b> <i class="fas fa-arrow-right"></i>
  </button>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modaprofilel-body">
          <form action="/edit_administrator_profile/" method="post" class="form shadow p-3">
            {% csrf_token %}
            <h4>Edit Profile</h4>
            <hr>
            <div class="form-group">
              <label for="">Username:</label>
              <input type="text" name="username" class="form-control" value="{{ administrator.username }}">
            </div>
            <div class="form-group">
              <label for="">New Password:</label>
              <input type="password" name="new_password" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="">Retype Password:</label>
              <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <button class="btn btn-md btn-dark w-25" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  


{% endblock main %} 