{% extends 'finance/base.html' %}
{% block title %} Edit Supplementary Incomes {% endblock title %}
{% block pagetitle %} Edit Supplementary Incomes {% endblock pagetitle %}

{% block main %} 

<div class="inner-content">
    <form action="" method="post" class="form ml-3 p-3 shadow rounded bg-light">
        {% csrf_token %}
        <div class="title">
            <h5 class="text-uppercase text-center">Edit Supplementary Incomes</h5>
            <hr>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="expenses-info">
            <div class="row">
                
                <!-- category-->
                <div class="form-group col-md-6">
                    <label for=""> Category </label>
                    <input type="text" name="category" class="form-control" value="{{ supplementary.category }}">
                </div>
                <!-- amount paid -->
                <div class="form-group col-md-6">
                    <label for="">Amount </label>
                    <input type="text" name="amountpaid" class="form-control" value="{{ supplementary.amount }}">
                </div>
            </div>
            
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SAVE</button>
        </div>
    </form>
</div>

{% endblock main %}
