{% extends 'frontend/base.html' %}
{% block  title %} Add Marks {% endblock title %}
{% block  pagetitle %} Add Marks  {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/markslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Marks</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>
               
    <!-- form-section -->
    <form action='submitmarks/' method="POST" class="form ml-3 p-3 shadow rounded bg-light">
        {% csrf_token %}
        <div class="title">
            <h5 class="text-uppercase text-center">Register Marks</h5>
            <hr>
        </div>

        <!-- marks info section -->
        <div class="marks-info">
            <div class="row">
                <!-- classid -->
                <div class="form-group col-md-6">
                    <label for="">Student Number: </label>
                    {% comment %} <input type="text" name="stdnum" class="form-control"> {% endcomment %}
                    <select name='stdnum' class="form-control">
                        {% for std in students %}
                        <option value="{{ std.stdnumber }}">{{ std.stdnumber }}</option>
                        {%endfor%}
                    </select>
                </div>
                <!-- name -->
                <div class="form-group col-md-6">
                    <label for="terms"> Term: </label>
                    <select id="terms" name="term">
                        <option>I</option>
                        <option>II</option>
                        <option>III</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <!-- classteacher -->
                <div class="form-group col-md-6">
                    <label for="">Year</label>
                    <input type="text" name="year" class="form-control">
                </div>
                <!-- numbr of pupils -->
                <div class="form-group col-md-6">
                    <label for=""> Student Class </label>
                    <select id="terms" name="studentclass">
                        <option>P.1</option>
                        <option>P.2</option>
                        <option>P.3</option>
                        <option>P.4</option>
                        <option>P.5</option>
                        <option>P.6</option>
                        <option>P.7</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <!-- classteacher -->
                <div class="form-group col-md-6">
                    <label for="">Math</label>
                    <input type="number" name="math" class="form-control">
                </div>
                <!-- numbr of pupils -->
                <div class="form-group col-md-6">
                    <label for=""> English </label>
                    <input type="number" name="eng" class="form-control">
                </div>
            </div>

            <div class="row">
                <!-- classteacher -->
                <div class="form-group col-md-6">
                    <label for="">SST</label>
                    <input type="number" name="sst" class="form-control">
                </div>
                <!-- numbr of pupils -->
                <div class="form-group col-md-6">
                    <label for="">Science</label>
                    <input type="number" name="sci" class="form-control">
                </div>
            </div>
            
            <div class="row">
                <!-- classteacher -->
                <div class="form-group col-md-6">
                    <label for="">Religious Education</label>
                    <input type="number" name="re" class="form-control">
                </div>
                <!-- numbr of pupils -->
                <div class="form-group col-md-6">
                    <label for="">Computer</label>
                    <input type="number" name="computer" class="form-control">
                </div>
            </div>

            
        </div>

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}