<!-- frontend/marks/displayMarks.html -->
{% extends 'frontend/base.html' %}
{% block title %}Marks List{% endblock title %}
{% block pagetitle %}Marks List{% endblock pagetitle %}

{% block main %}
<!-- inner-content -->
<div class="inner-content">
    <div class="btns mb-3">
        {% for class in classes %}
            <a href="/view_marks/{{class.classid}}" class="btn btn-sm btn-danger mr-1">{{class.classname}} Marks</a>
        {% endfor %}
    </div>

    
</div>
<!-- inner-content -->
{% endblock main %}
