{% extends 'frontend/base.html' %}
{% block title %} View Class Results {% endblock title %}
{% load static %}
{% load custom_filters %}

{% block main %}
<div class="inner-content">
    <a href="/view_marks/{{ schoolclass.classid }}"
    class="btn btn-sm btn-warning mb-2 {% if mark_type.0 == mark_type %}active{% endif %}">
        View all
    </a>
    {% for mark_type in mark_types %}
            <a href="/view_mark/{{ schoolclass.classid }}?marktype={{ mark_type.0 }}"
            class="btn btn-sm btn-danger mb-2 {% if mark_type.0 == mark_type %}active{% endif %}">
                {{ mark_type.1 }} Results
            </a>
    {% endfor %}
    <div class="header">
        <h5 class="mb-2"><b>{{mark_type}} Examination results for {{schoolclass.classname}}</b></h5>
    </div>

    <div class="students-list" style="font-size: 14px;">
        <table class="table bg-white" id="table" border="1">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Reg Number</th>
                    <th>Name</th>
                    {% for subject in subjects %}
                        <th>{{ subject.subjectname|slice:":3" }}</th>
                    {% endfor %}
                    <th>Total</th>
                    <!-- <th>Average</th> -->
                    <th>Position</th>
                    <th>Report</th>
                </tr>
            </thead>
            <tbody>
                {% for student, subjects_data in subjects_marks_data.items %}
                    <tr>
                        <td>{{ student.stdnumber }}</td>
                        <td>{{ student.childname }}</td>
                        {% for subject_data in subjects_data %}
                            <!-- <td>{{ subject_data.total_marks }}</td> -->
                            <td>{{ subject_data.average_marks|floatformat:0 }}</td>
                        {% endfor %}
                        <td><b>{{ student.total_average_marks|floatformat:0 }}</b></td>
                        <!-- <td><b>{{ student.final_average|floatformat:2 }}</b></td> -->
                        <td>{{student.rank}}</td>
                        <td>
                            <a href="/report_card/{{student.pk}}/{{student.rank}}" class="btn btn-success btn-sm generate-report"><i class="fas fa-print    "></i>Print    </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".generate-report").click(function() {
            var studentId = $(this).data("student");
            window.location.href = `/teacher/report_card/${studentId}`;  // Replace with your URL pattern
        });
    });
</script>
{% endblock main %}
