{% extends 'frontend/base.html' %}
{% block  title %} Staff Payments List {% endblock title %}
{% block  pagetitle %} Staff Payments List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns">
        <a href="/addstaffpayments" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Staff Payments</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Staff ID</th>
                    <th>Staff Name</th>
                    <th> Date Paid</th>
                    <th>Salary</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                    <th>Position</th>
                    <th>Bank Account No.</th>
                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>SP001</th>
                    <th>MARTHA NASSIMBA</th>
                    <th>27-08-22</th>
                    <th>500,000</th>
                    <th>400,000</th>
                    <th>100,000</th>
                    <th>Teacher</th>
                    <th>AC43000000</th>

                   <td>
                    <div>
                        <a href="" class="text-primary"> Edit<i class="fas fa-edit  mr-5  "> </i></a>
                        <a href="" class="text-danger">Delete<i class="fa fa-trash    "> </i></a>
                        
                    </div> </td>
    
                </tr>

                
                
                
                
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_user">
        
    </div>
</div>
<!-- inner-content -->
{% endblock main %}