<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Rosanna Schools | {% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-vpXtB+IuSt5xeIoRZy5o/xpMwXbhCsBBOtDKfUfWJB0mzzM9b9AqPWPhdbtf1KVg" crossorigin="anonymous">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="main">
        <!-- sidebar -->
        <aside class="sidebar">
            <div class='header text-center p-2 mb-2'>
                <img src="{% static 'images/rosannalogo.png' %}"   alt="Rosanna Schools Logo">

                <h5 class="text-white"><b>Rosanna Schools</b></h5>
            </div>
    
            <ul className='sidebar-links pt-3 pl-3'>
                <li>
                    <a class="text-white" href='/dashboard'><i class="fas fa-home  mr-2  "></i><span>Dashboard</span></a>
                    <hr className='mt-3' />
                </li>
                <li>
                    <a class="text-white" href='./students'><i class="fas fa-users    mr-2"></i><span>Students</span></a>
                    <hr className='mt-3' />
                </li>
                <li>
                    <a class="text-white" href='./staff'><i class="fas fa-user-graduate    mr-2"></i><span>Staff</span></a>
                    <hr className='mt-3' />
                </li>
                <li>
                    <a class="text-white" href='./accounting'><i class="fas fa-book-open    mr-2"></i><span>Accounting</span></a>
                    <hr className='mt-3' />
                </li>
                <li>
                    <a class="text-white" href='./academics'><i class="fas fa-book-open    mr-2"></i><span>Academics</span></a>
                    <hr className='mt-3' />
                </li>
                <li>
                    <a class="text-white" href='./manageusers'><i class="fas fa-users    mr-2"></i><span>Manage Users</span></a>
                    <hr className='mt-3' />
                </li>
            </ul>
        </aside>

        <!-- sidebar -->
        <!-- content -->
        <div class="content">

            <!-- navbar -->
            <nav class="navbar bg-light shadow">
                <div class='brand '>
                    <i class="fas fa-bars " ></i>    
                </div>
                
                <div class="right mr-5 d-flex">
                    <h5 class='mt-2 mr-2'><i class="fas fa-user-circle   mr-2 "></i>Username</h5>
                    <h5 class='ml-3 mt-2 mr-2'><i class="fas fa-power-off   mr-2 "></i>Logout</h5>   
                </div>   
            </nav>
            <!-- navbar -->

            <!-- extending to other pages -->
            {% block main %}
            {% endblock main %}
            <!-- extending to other pages -->
            <footer class="footer bg-light ">
                hey
            </footer>
        </div>
        <!-- content -->
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
</body>
</html>