<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Rosanna Schools | {% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- calendar link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cal.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-vpXtB+IuSt5xeIoRZy5o/xpMwXbhCsBBOtDKfUfWJB0mzzM9b9AqPWPhdbtf1KVg" crossorigin="anonymous">
    
    <!-- jquery datatables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- animate CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">
    
    <style>
        
    </style>
</head>
  <body>
    

    <div class="main">
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="dismiss">
                <i class="fas fa-bars    text-white"></i>
            </div>
            <div class='header text-center p-2 mb-2'>
                <img src="{% static 'images/rosannalogo.png' %}"   alt="Rosanna Schools Logo">

                <h5 class="text-white"><b>Rosanna Schools</b></h5>
            </div>
            <hr color="#fff" style="height: 3px;">
    
            <ul class='sidebar-links pt-3'>
                
                <li class="sidebar-item active">
                    <a class="" href='/dashboard'><i class="fas fa-home  mr-2  "></i><span>Dashboard</span></a>
                    
                </li>
                <hr color="#fff">
                <li>
                    <div class="main-menu d-flex justify-content-between">
                        <a class="" href='./students'><i class="fas fa-users    mr-2"></i><span>Students</span></a>
                        <div class="chevron">
                            <i class="fas fa-chevron-right    mr-2"></i>
                        </div>
                    </div>
                    <!-- sub menu -->
                    <ul class="submenu">
                        <li>
                            <a href="/studentslist"><i class="fas fa-list    mr-2"></i> <span>Students List</span></a>
                        </li>
                        <li>
                            <a href="/addstudent"> <i class="fas fa-user-graduate    mr-2"></i> <span>Add student</span></a>
                        </li>
                    </ul>
                </li>
                <hr color="#fff">
                <li class="sidebar-item">
                    <div class="main-menu-staff d-flex justify-content-between">
                        <a class="" href='./staff'><i class="fas fa-user-graduate    mr-2"></i><span>Staff</span></a>
                        <div class="chevron0 text-white">
                            <i class="fas fa-chevron-right    mr-2"></i>
                        </div>
                    </div>
                    
                    <ul class="submenu-staff">
                        <li>
                            <div class="main-submenu1 d-flex justify-content-between">
                                <a class="" href='./staff'><i class="fas fa-user-graduate    mr-2"></i><span>Teachers</span></a>
                                <div class="chevron1 ">
                                    <i class="fas fa-chevron-right text-white    mr-2"></i>
                                </div>
                            </div>
                            <ul class="submenu1">
                                <li>
                                    <a href="/teacherlist" style="font-size: 12px;"><i class="fas fa-list    mr-2"></i> <span>Teachers List</span></a>
                                </li>
                                <li>
                                    <a href="/addteacher" style="font-size: 12px;"> <i class="fas fa-user-graduate    mr-2"></i> <span>Add teacher</span></a>
                                </li>
                            </ul>
                            <!-- <a href="/studentslist"><i class="fas fa-list    mr-2"></i> Students List</a> -->
                        </li>
                        <li>
                            <div class="main-submenu2 d-flex justify-content-between">
                                <a class="" href='./staff'><i class="fas fa-people-carry    mr-2"></i><span>Support staff</span></a>
                                <div class="chevron2">
                                    <i class="fas fa-chevron-right text-white    mr-2"></i>
                                </div>
                            </div>
                            <ul class="submenu2">
                                <li>
                                    <a href="/support-staff-list" style="font-size: 12px;"><i class="fas fa-list    mr-2"></i> <span>Suppport Staff List</span></a>
                                </li>
                                <li>
                                    <a href="/add-support-staff" style="font-size: 12px;"> <i class="fas fa-people-carry    mr-2"></i> <span>Add support staff</span></a>
                                </li>
                            </ul>
                            <!-- <a href="/addstudent"> <i class="fas fa-user-graduate    mr-2"></i> Add student</a> -->
                        </li>
                    </ul>

                    <!-- <a class="" href='/staff'><i class="fas fa-user-graduate    mr-2"></i><span>Staff</span></a> -->
                    <!-- <hr className='mt-3' /> -->
                </li>
                <hr color="#fff">
                <li>
                    <div class="main-menu-acad d-flex justify-content-between">
                        <a class="" href='/academics'><i class="fas fa-book-open    mr-2"></i><span>Academics</span></a>
                        <div class="chevron-acad text-white">
                            <i class="fas fa-chevron-right    mr-2"></i>
                        </div>
                        
                    </div>
                    <!-- submenus -->
                    <ul class="submenu-acad">
                        <li>
                            <a href="/showclasses" ><i class="fas fa-road       mr-2"></i> <span>Classes</span></a>
                        </li>
                        {% comment %} <li>
                            <a href="/showsubjects"> <i class="fas fa-book    mr-2"></i>Subjects</a>

                            <a href="/classlist" ><i class="fas fa-road       mr-2"></i> <span>Classes</span></a>
                        </li> {% endcomment %}
                        <li>
                            <a href="/subjectlist"> <i class="fas fa-book    mr-2"></i><span>Subjects</span></a>

                        {% comment %} <li>
                            <a href="/showsubjects"> <i class="fas fa-book    mr-2"></i><span>Subjects</span></a>
                        </li> {% endcomment %}

                        <li>
                            <a href="/markslist"> <i class="fas fa-file    mr-2"></i> <span>Marks</span></a>
                        </li>
                        <li>
                            <a href="/addstudent"> <i class="fas fa-file-archive   mr-2"></i> <span>Academic Reports</span></a>
                        </li>
                    </ul>

                    <!-- <a class="" href='./academics'><i class="fas fa-book-open    mr-2"></i><span>Academics</span></a> -->
                    <!-- <hr className='mt-3' /> -->
                </li>
                <hr color="#fff">
                <li>
                    <div class="main-menu-acc d-flex justify-content-between">
                        <a class="" href='/accounting'><i class="fas fa-money-bill    mr-2"></i><span>Accounting</span></a>
                        <div class="chevron-acc text-white">
                            <i class="fas fa-chevron-right    mr-2"></i>
                        </div>
                        
                    </div>
                    
                    <ul class="submenu-acc">
                        <li>
                            <a href="/feesstructurelist" ><i class="fas fa-money-bill-wave    mr-2"></i> <span>Fees Structure</span></a>
                        </li>
                        <li>
                            <a href="/feeslist" ><i class="fas fa-money-bill-wave    mr-2"></i> <span>Fees</span></a>
                        </li>
                        
                           
                                <li>
                                    <a href="/teacherspaymentslist"><i class="fas fa-money-bill-alt    mr-2"></i> <span>Teachers Payments</span></a>
                                </li>
                                <li>
                                    <a href="/supportstaffpaymentslist"> <i class="fas fa-money-bill-alt    mr-2"></i> <span> Support Staff Payments</span></a>
                                </li>   
                        </li>
                            <a href="/expenseslist"> <i class="fas fa-money-bill-wave     mr-2"></i> <span>Expenses</span></a>
                        </li>
                       
                    </ul>

                </li>
                <hr color="#fff">
                
                <li>
                    <div class="main-menu-users d-flex justify-content-between">
                        <a class="" href='/accounting'><i class="fas fa-users    mr-2"></i><span>Manage Users</span></a>
                        <div class="chevron-users text-white">
                            <i class="fas fa-chevron-right    mr-2"></i>
                        </div>
                        
                    </div>
                    <!-- submenu -->
                    <ul class="submenu-users">
                        <li>
                            <a href="/userslist"> <i class="fas fa-users   mr-2"></i><span>Users List</span></a>
                        </li>
                        <li>
                            <a href="/addusers" ><i class="fas fa-list    mr-2"></i> <span>Add User</span></a>
                        </li>
                        
                        
                    </ul>

                    <!-- <a class="" href='./manageusers'><i class="fas fa-users    mr-2"></i><span>Manage Users</span></a> -->
                    <!-- <hr className='mt-3' /> -->
                </li>
                <hr color="#fff">
            </ul>
        </aside>

        <!-- sidebar -->
        <!-- content -->
        <div class="content bg-light">

            <!-- navbar -->
            <nav class="navbar bg-light shadow align-items-center">
                <div class='brand'>
                    <i class="fas fa-bars " ></i>    
                </div>
                <div class="right mr-5 d-flex">
                    {% if user.is_authenticated %}
                    <p class=' mr-2'><i class="fas fa-user-circle   mr-2 "></i>{{ user.username }}</p>
                    {% endif %}
                    <a class="ml-3 mr-2 text-danger" href="{% url 'logout' %}">
                        <p class="ml-3 mr-2"><i class="fas fa-power-off mr-2"></i>Logout</p>
                    </a>
                </div>  
            </nav>
            <!-- navbar -->

            <!-- page header -->
            <div class="m-2 mt-3">
                <a href="/dashboard" class="text-dark"><i class="fas fa-home    mr-2"></i> </a>
                <span><b> -> </b> {% block pagetitle %}{% endblock pagetitle %} </span>
            </div>
            <!-- page header -->

            <!-- extending to other pages -->
            {% block main %}
            {% endblock main %}
            <!-- extending to other pages -->
            <footer class="footer ">
                <div class="container"><p class="text-center">All Rights Reserved | &copy; 2023 Rosanna Schools</p></div>

            </footer>
        </div>
        <!-- content -->
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

    <!-- ajax -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- datatables -->
    <script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    <!-- custom js -->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- charts.js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{% static 'js/charts.js' %}"></script>
    <!-- <script src="{% static 'js/calendar.js' %}"><  /script> -->
    <script src="{% static 'js/script.js' %}"></script>


    <script>
       $(document).ready(function() {
        $('#class_name').on('change', function() {
            const classId = $(this).val();
            const subjectSelect = $('#subject');
            console.log('Selected Class ID:', classId);

            // Fetch subjects for the selected class using AJAX
            $.ajax({
                url: `/get_subjects/${classId}/`,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log('Received Data:', data);
                    subjectSelect.empty(); // Clear previous options
                    $.each(data, function(index, subject) {
                        subjectSelect.append($('<option>', {
                            value: subject.subjectid,
                            text: subject.subjectname
                        }));
                    });
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        });
    });
    </script>
    
</body>

</html>