{% extends 'frontend/base.html' %}
{% block  title %} Dashboard {% endblock title %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="dashboard">
        <!-- cards -->
      <div class="row cards">
        <div class=" col-lg-3 col-md-3">
            hey
        </div>

        <div class="col-lg-3 col-md-3">
            hey
        </div>

        <div class=" col-lg-3 col-md-3">
            hey
        </div>

        <div class="col-lg-3 col-md-3">
            hey
        </div>
      </div>
        <!-- cards -->
    </div>
</div>
<!-- inner-content -->

{% endblock main %}