{% extends 'frontend/base.html' %}
{% block  title %} Dashboard {% endblock title %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content mt-3">
    <div class="dashboard">
        <!-- cards -->
      <div class="row cards">
        <div class="col-lg-3 col-md-3">
            <div class="card bg-primary">
                <div class="row">
                    <div class="col-8 cbody">
                        <h4>Term 1</h4>
                        <p>Current Session</p>
                    </div>
                    <div class="col-4 icon">
                        <i class="fas fa-book    "></i>
                    </div>
                </div>
            </div>
        </div>
      

        <div class="col-lg-3 col-md-3">
            <div class="card bg-success">
                <div class="row">
                    <div class="col-9 cbody">
                        <h4>500+</h4>
                        <p>Students</p>
                    </div >

                    <div class="col-3 icon">
                        <i class="fa fa-users " aria-hidden="true"></i>
                    </div> 
            </div>
            </div>
        </div>

        <div class=" col-lg-3 col-md-3">
            <div class="card trcard">
                <div class="row">
                <div class="col-9">
                    <h4>45</h4>
                    <p>Teachers</p>
                </div>
                <div class="col-3 icon">
                    <i class="fas fa-user-graduate   "></i>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="card staff-card">
                <div class="row ">
                    <div class="col-9">
                        <h4>16</h4>
                        <p>Support Staff</p>
                    </div>
                    <div class="col-3  icon">
                        <i class="fas fa-people-carry    "></i>
                    </div>
                </div>
            </div>
        </div>
      </div>
        <!-- cards -->

        <!-- donut and bargraph-->
        <div class="row">
            <div class="col-lg-5">
                <div class="donut-chart">
                    <canvas id="genderDonutChart"></canvas>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="bar-chart">
                    <canvas id="genderBarChart"></canvas>
                </div>                   
            </div>
        </div>
         
<!-- calendar and line graph -->
        <div class="row">
            <div class="col-lg-7">
                <div class="line-chart">
                    <canvas id="paymentChart"></canvas>
                </div>          
            </div>
            <div class="col-lg-5">
                <div id="calendar" class="text-dark">
                    hey 
                </div>  
            </div>
        </div>
    </div>
</div>
<!-- inner-content -->


  

{% endblock main %}