{% extends 'finance/base.html' %}
{% block  title %} Expenses List {% endblock title %}
{% block  pagetitle %} Expenses List {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <div class="btns">
        <a href="/financeaddexpenses" class="btn btn-sm add-btn text-white mb-2 ml-3">Add Expenses</a>
        <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Export excel</a>
    </div>
    <div>
        <!-- Display the total amount paid -->
        <h3>Total Amount Paid: {{ total_amount_paid|default:"0" }}</h3>
    </div>
    <div class="table-section" style="font-size: 14px;"> 
        
        <table class="table" id="table" border="1">
            <thead>
                <tr> 
                    <th>Expense ID</th>
                    <th>Category</th>
                    <th>Amount Required</th>
                    <th>Expense Date</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.expenseid }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amountrequired }}</td>
                    <td>{{ expense.expensedate }}</td>
                    <td>{{ expense.amountpaid }}</td>
                    <td>{{ expense.balance }}</td>
                   <td>
                          <a href="{% url 'edit_expense' expense.expenseid %}" class="text-primary">
                            <i class="fas fa-edit mr-2"></i>
                        </a>
                          <a href="{% url 'delete_expense' expense.expenseid %}" class="text-danger">
                            <i class="fa fa-trash"></i>
                        </a> 
                     </td>
                </tr> 
                {% endfor %}   
            </tbody>
        </table>
    </div>
    <!-- student show -->
    <div class="show_user">
        
    </div>
</div>
<!-- inner-content -->
{% endblock main %}