{% extends 'frontend/base.html' %}
{% block  title %} Add Classes {% endblock title %}
{% block  pagetitle %} Add Classes {% endblock pagetitle %}

{% block  main %} 

<!-- Success message after data has been sent  -->
<!-- {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %} -->

<!-- inner-content -->
<div class="inner-content">
    <a href="/showclasses" class="btn btn-sm add-btn text-white mb-2 ml-3">View Classes</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>

    <!-- form-section -->
    
    <form method="post" class="shadow p-3 bg-white rounded" action="sendclasses/">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
        </ul>
        {% endif %}

        <div class="row">
          <div class="form-group col-6">
            <label for="class_name">Class Name:</label>
            <input type="text" class="form-control" id="class_name" name="class_name" required>
          </div>
          <div class="form-group col-6">
            <label for="class_level">Class Level:</label>
            <select class="form-control" id="class_level" name="class_level" required>
              <option value="" selected disabled>---</option>
              <option value="upper-primary">Upper Primary</option>
              <option value="lower-primary">Lower Primary</option>
              <option value="nursery">Nursery</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          
          <div class="form-group col-6">
            <label>Subjects:</label>
            {% for subject in subjects %}
            <div class="subject">
                <input type="checkbox" class="" id="subject_{{ forloop.counter }}" name="subjects" value="{{ subject.subjectname }}">
                <label for="subject_{{ forloop.counter }}">{{ subject.subjectname }}</label>
            </div>
            {% endfor %}
          </div>
          
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-dark" style="width: 150px;">Save</button>
        </div>
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}