{% extends 'finance/base.html' %}
{% block  title %} Add Utilities {% endblock title %}
{% block  pagetitle %} Add Utilities  {% endblock pagetitle %}

{% block  main %} 

<!-- inner-content -->
<div class="inner-content">
    <a href="/financeutilitieslist" class="btn btn-sm add-btn text-white mb-2 ml-3">View Utilities</a>
    <a href="" class="btn btn-sm bg-success text-white mb-2 ml-2 ">Import excel</a>
               
    <!-- form-section -->
    <form action="" method="post" class="form ml-3 p-3 shadow rounded bg-light">
        <div class="title">
            <h5 class="text-uppercase text-center">Register Utilities</h5>
            <hr>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-sucess alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% csrf_token %}
        <!-- expenses info section -->
        <div class="expenses-info">
            <div class="row">
                <!-- category-->
                <div class="form-group col-md-6">
                    <label for=""> Category </label>
                    <input type="text" name="category" class="form-control">
                </div>
                  <!-- amountpaid -->
                  <div class="form-group col-md-6">
                    <label for="">Amount Paid</label>
                    <input type="text" name="amountpaid" class="form-control">
                </div>
            </div>

        <!-- button -->
        <div class="form-group">
            <button type="submit" class="btn btn-sm bg-dark text-white w-25">SUBMIT</button>
        </div>
        

        
    </form>
    <!-- form-section -->

</div>
<!-- inner-content -->

{% endblock main %}