{% extends 'finance/base.html' %}
{% block  title %} Dashboard {% endblock title %}
{% block  pagetitle %} Dashboard {% endblock pagetitle %}
{% load static %}
{% block  main %}
<div class="inner-content">
     {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="top_cards  ml-2">
        <div class="current-term">
            <a class=" btn btn-l btn-sm  text-white p-2" style="background-color: green;">Current Term: </a>
            <a  class="btn btn-sm btn-r btn-dark text-white p-2" style="margin-left: -7px;">{{term_data.current_term}} </a>
        </div>
        <div class="current-year"> 
            <a class="btn btn-sm btn-l text-white p-2" style="background-color:  #f9b855;">Current Year: </a>
            <a class="btn btn-sm btn-r btn-dark text-white p-2" style="margin-left: -7px;">{{term_data.current_year}}</a>
        </div>
        <div class="current-term">
            <a class=" btn btn-sm btn-l  text-white p-2" style="background-color: blue;">Total Income: </a>
            <a  class="btn btn-sm btn-r btn-dark text-white p-2" style="margin-left: -7px;">{{ total_income|default:"0"}} </a>
        </div>
        <div class="current-year"> 
            <a class="btn btn-sm btn-l text-white p-2" style="background-color: red;">Total Expenses: </a>
            <a class="btn btn-sm btn-r btn-dark text-white p-2" style="margin-left: -7px;">{{ total_expenses|default:"0" }}</a>
        </div>
        <div class="current-term">
            <a class=" btn btn-sm btn-l text-white p-2" style="background-color: green;">Profits: </a>
            <a  class="btn btn-sm btn-r btn-dark text-white p-2" style="margin-left: -7px;">{{ profit|default:"0" }}</a>
        </div>
        <!-- previous terms -->
        <div class="dropdown previous-terms">
            <button class="btn dropdown-toggle" style="border: 1px solid black;" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        select term
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                {% for term in terms %}
                    <a href="/that_term/{{term.id}}" class="dropdown-item">{{term.current_term}} - {{term.current_year}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- previous terms -->
    </div>
    <div class="link_cards pt-4">
        <div class="">
            <a href="/financefeeslist" style="text-decoration: none;">
                <div class="card feescard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-wave icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h5 class="text-center">{{ total_amount|default:"0" }}</h5>
                            <p class="text-center"> Fees</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
        <div class="">
            <a href="/financeteacherpaymentslist" style="text-decoration: none;">
                <div class="card trpaymentscard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-alt icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h5 class="text-center">{{ total_trpayments|default:"0" }}</h5>
                            <p class="text-center"> Tr Payments</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
        <div class="">
            <a href="/financesupportstaffpaymentslist" style="text-decoration: none;">
                <div class="card sspaymentscard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-alt icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h5 class="text-center">{{ total_sspayments|default:"0" }}</h5>
                            <p class="text-center">  S-Staff Payments</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
        <div class="">
            <a href="/financeutilitieslist" style="text-decoration: none;">
                <div class="card expensecard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-wave icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h5 class="text-center">{{ total_amount_paid|default:"0" }}</h5> 
                            <p class="text-center"> Utilities</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
    </div>

    <!-- linegraph and donut -->
    <div class="row mt-4">
        <div class="col-md-4 ">
            <div class="donut-chart shadow  bg-light pb-2">
                <canvas id="paymentDonutChart"></canvas>
            </div>
        </div>
        <div class="col-lg-8 ">
            <div class="bg-white p-2" style="font-size: 13px;">
                <h5 class="text-center"><u>Fees Defaulters</u></h5>
                <div class="table-section">
                    <table class="table" id="table" border="1">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Fees ID</th>
                                <th>Student Number</th>
                                <th>Student Name</th>
                                <th>Student Class</th>
                                <th>Amount</th>
                                <th>Balance</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fee in fees_list %}
                                {% if fee.balance != 0 %}
                                    {% with fee.stdnumber as last_stdnumber %}
                                        {% for previous_fee in fees_list %}
                                            {% if previous_fee.stdnumber == last_stdnumber %}
                                                {% if previous_fee.date > fee.date %}
                                                    {% with fee=previous_fee %}
                                                    {% endwith %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                    <tr>
                                        <td>{{ fee.paymentid }}</td>
                                        <td>{{ fee.stdnumber.stdnumber }}</td>
                                        <td>{{ fee.stdname }}</td>
                                        <td>{{ fee.studentclass }}</td>
                                        <td>{{ fee.amount }}</td>
                                        <td>{{ fee.balance }}</td>
                                        <td>{{ fee.date }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
    </div>
    
</div> 
{% endblock main %} 
