{% extends 'finance/base.html' %}
{% block  title %} Dashboard {% endblock title %}
{% load static %}
{% block  main %}
<div class="inner-content">
    <div class="row ml-2" >
        <div class=" current-term mr-4">
                <a class=" btn-md btn-h text-white">Current Term: </a>
                <a  class=" btn-md btn-d text-white">Term I </a>
        </div>
        <div class=" current-year">
                <a class=" btn-md btn-h text-white">Current Year: </a>
                <a class=" btn-md btn-d text-white">2023 </a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-3">
            <a href="/financefeeslist" style="text-decoration: none;">
                <div class="card feescard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-wave icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h4 class="text-center">{{ total_amount|default:"0" }}</h4>
                            <p class="text-center"> Fees</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/financeteacherpaymentslist" style="text-decoration: none;">
                <div class="card trpaymentscard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-alt icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h4 class="text-center">8,000,000</h4>
                            <p class="text-center"> Teacher Payments</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/financesupportstaffpaymentslist" style="text-decoration: none;">
                <div class="card sspaymentscard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-alt icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h4 class="text-center">8,000,000</h4>
                            <p class="text-center">  S-Staff Payments</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/financeexpenseslist" style="text-decoration: none;">
                <div class="card expensecard p-3">
                    <div class="row">
                        <div class="col-4 text-center pt-2" style="border-right: 2px solid #fff;">
                            <i class="fas fa-money-bill-wave icon circle-icon" ></i>
                        </div>
                        <div class="col-8 ">
                            <h4 class="text-center">{{ total_amount_paid|default:"0" }}</h4> 
                            <p class="text-center"> Expenses</p> 
                        </div>
                    </div>
                   
                </div>
            </a>
        </div>
    </div>

    <!-- linegraph and donut -->
    <div class="row mt-4">
        <div class="col-lg-8 bar">
            <div class="line-chart shadow text-white pb-2">
                <canvas id="paymentChart"></canvas>
            </div>          
        </div>
        <div class="col-md-4 ">
            <div class="donut-chart shadow  bg-light pb-2">
                <canvas id="paymentDonutChart"></canvas>
            </div>
        </div>
    </div>
    
</div> 
{% endblock main %} 
