{% extends 'finance/base.html' %}
{% block  title %} Reports {% endblock title %}
{% load static %}
{% block  main %}

<div class="inner-content">
    <div class="report-buttons">
        <a href='/financefeeslist'>
            <button>
                Fees
            </button>
        </a>
        <a href="">
            <button>
                Fees Cleared Students
            </button>
        </a>
        <a href="">
            <button>
                Fees Defaulters
            </button>
        </a>
        <a href="">
            <button>
                Fees Structure
            </button>
        </a>
    </div>
</div>


{% endblock main %} 
